<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>{{title}}</title>
</head>

<body>
    <nav>
        <h4>Project Management Database</h4>
        <ul>
            <li><a href="/auth/login">Home</a></li>
            <li><a href="/secret">Logout</a></li>
        </ul>
    </nav>
    <div class="table-data">
  <div class="container mt-4">
        <h2>PROJECTS</h2>
        {{#if userData.length}}
        <table class="table table-bordered">
            <thead style="background-color: #563d7c; color: rgb(244, 246, 248);" >
                <tr>
                    <th>Project_ID</th>
                    <th>Name</th>
                    <th>Phase</th>
                    <th>Status</th>
                    <th>Marks</th>
                </tr>
            </thead>
            <tbody>
                {{#each userData}}
                <tr>
                    <td>{{this.Project_ID}}</td>
                    <td>{{this.Project_Name}}</td>
                    <td>{{this.Project_Phase}}</td>
                    <td>{{this.Phase_Status}}</td>
                    <td>{{this.Project_Marks}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <p>No Data Found</p>
        {{/if}}
    </div>
</body>

</html>
